<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="EASendMail" version="7.3.1.8" targetFramework="net452" />
  <package id="MailKit" version="1.22.0" targetFramework="net452" />
  <package id="MimeKit" version="1.22.0" targetFramework="net452" />
</packages>